<?php
	// if (!(isset($_SERVER['HTTPS']) && ($_SERVER['HTTPS'] == 'on' ||
	//    $_SERVER['HTTPS'] == 1) ||
	//    isset($_SERVER['HTTP_X_FORWARDED_PROTO']) &&
	//    $_SERVER['HTTP_X_FORWARDED_PROTO'] == 'https'))
	// {
	//    $redirect = 'https://' . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'];
	//    header('HTTP/1.1 301 Moved Permanently');
	//    header('Location: ' . $redirect);
	//    exit();
	// }
?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="title" content="Web Riderz | Website Designing And Development Company In Ludhiana"/>

  	<meta name="description" content="We are delivering Great Quality work in website designing and development. Expertise in Mobile Apps development and digital marketing.">
  	<meta name="keywords" content="web development, web programming, web design, web consulting, Web service, USA, Website consultant, Branding, Wordpress, UI, UX Designing, Laravel, YII, Shopify, Squarespace, PHP">

  	<meta name="author" content="Web Riderz">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="google-site-verification" content="lRIfbqVCSgGaEG0fztclPzdPvlqGpL7D_IUbwF4UUOc" />

	<title>Website Designing And Development Company In Ludhiana</title>
	<link rel="alternate" href="http://webriderz.com" hreflang="en-us" />
	<link rel="shortcut icon" href="https://www.webriderz.com/images/favicon.png" />
<!-- 	<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://www.webriderz.com/css/owl.carousel.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://www.webriderz.com/css/style.css"> -->
<meta property="og:locale" content="en_US" />
<meta property="og:title" content="WebRiderz Web Development Company India" />
<meta property="og:description" content="We are delivering great quality work in website designing and development. Expertise in Mobile Apps development and digital marketing." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.webriderz.com/" />
<meta property="og:site_name" content="Webriderz">
<meta property="fb:app_id" content="2515874865108644" />
<meta property="og:image" content="https://www.webriderz.com/images/webriderz-logo.png" />
<meta name="twitter:image" content="https://www.webriderz.com/images/webriderz-logo.png">
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="We are delivering great quality work in website designing and development. Expertise in Mobile Apps development and digital marketing." />
<meta name="twitter:title" content="WebRiderz Web Development Company India" />
<meta name="google-site-verification" content="GPc5N9Y8pN8SyB3pLrg74XdjhNY3uY4khAiBsgjoPYg" />
	<link rel="amphtml" href="https://www.webriderz.com/amp/">
	<link rel="stylesheet" type="text/css" href="css/main.min.css">
  <link rel="stylesheet" type="text/css" href="css/wr-design.css">
</head>
<body class="wr-desing-details">

	<div class="header-wrapper 123464">
 	 <div class="container">
 		 <div class="header">
 			 <div class="logo">
 				 <a href="/" class="logo1"><img src="https://www.webriderz.com/images/logo.png" alt="Webriderz Logo"></a>
 				 <a href="/" class="logo-original"><img src="https://www.webriderz.com/images/logo-original.png" alt="Webriderz Logo"></a>
 			 </div>
 			 <div class="wr-navigation">
 			 <a class="cta-transparent" href="#">Android XML Code</a>
 			 <a class="cta-transparent" href="#">Ready Products</a>
 			 <a class="cta-transparent" href="#">Our Services</a>
 			 <a class="cta-transparent active" href="#">Login / Signup</a>
 				 <!-- <a href="javascript:void(0)" class="menu-bar">
 					 <span class="bars bar1"></span>
 					 <span class="bars bar2"></span>
 					 <span class="bars bar3"></span>
 					 <span class="bars bar4"></span>
 				 </a> -->
 			 </div>
			 <div class="navigation">
				 <a href="javascript:void(0)" class="menu-bar">
					 <span class="bars bar1"></span>
					 <span class="bars bar2"></span>
					 <span class="bars bar3"></span>
					 <span class="bars bar4"></span>
				 </a>
			 </div>

			<!-- mobile menu -->

			<div class="menu-modal">
					<div class="menu-box">
						<div class="container">
						<div class="modal-outer">
							<div class="modal-desc">
								<div class="container">
									<div class="modal-logo">
										<a href="/"><img src="https://www.webriderz.com/images/modal-logo.png" alt="Modal Logo"></a>
										<p class="desc">
											<span class="sub-p color-white">0161-5028632</span>
											<span class="sub-p color-white">info@webriderz.com</span>
										</p>
									</div>
								</div>
							</div>
							<div class="modal-dropdown">
								<ul>
									<li><a href="">Android XML Code</a></li>
									<li><a href="">Ready Products</a></li>
									<li><a href="">Our Services</a></li>
									<li><a href="">Login / Signup</a></li>
								</ul>
								<div class="modal-icons">
									<ul>
										<li><a href="https://www.facebook.com/webriderzindia/" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="https://www.linkedin.com/company/webriderz/" target="_blank" class="social-icon"><i class="fab fa-linkedin-in"></i></a></li>
										<li><a href="https://www.behance.net/webriderz" target="_blank" class="social-icon"><i class="fab fa-behance"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>

 		 </div>
 	 </div>
  </div>



  <div class="container">
  	<div class="row">
  		<div class="col-md-12">
  			<div id="register" class="login-page">
  				<form action="">
						<h3>Register</h3>
  					<fieldset>
							<label for="">First Name:</label>
							<input type="text" name="first-name" id="first-name">
						</fieldset>
						<fieldset>
							<label for="">Last Name:</label>
							<input type="text" name="last-name" id="last-name">
						</fieldset>
						<fieldset>
							<label for="">Emal Address:</label>
							<input type="email" name="email-address" id="email-address">
						</fieldset>
						<fieldset>
							<label for="">Password:</label>
							<input type="Password" name="password" id="password">
						</fieldset>
						<fieldset>
							<input type="submit" value="Register" name="register" id="register">
						</fieldset>
						<fieldset>
							<p class="mt-4">Have already an account? <a href="login.html">Login here</a></p>
						</fieldset>
  				</form>
  			</div>
  		</div>
  	</div>
  </div>

  <div class="footer bg-black">
  		<div class="container">
  			<div class="footer-top-links">
  				<div class="footer-title">
  					<h3 class="color-white txt-trfm">Lets make something great</h3>
  					<a href="/contact" class="cta-yellow cta-transparent">Contact Us</a>
  				</div>
  				<div class="footer-icons">
  					<ul>
  						<li><a href="https://www.facebook.com/webriderzindia/" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a></li>
  						<li><a href="https://twitter.com/Webriderz" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a></li>
  						<li><a href="https://www.instagram.com/web_riderz" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a></li>
  						<li><a href="https://www.linkedin.com/company/webriderz/" target="_blank" class="social-icon"><i class="fab fa-linkedin-in"></i></a></li>
  						<li><a href="https://www.behance.net/webriderz" target="_blank" class="social-icon"><i class="fab fa-behance"></i></a></li>
  					</ul>
  				</div>
  			</div>

  			<div class="footer-outer">
  				<div class="row">
  					<div class="col-md-8">
  						<div class="row">
  							<div class="col-lg-3 col-sm-6">
  								<div class="footer-items">
  									<ul>
  										<li><a href="https://www.webriderz.com/company">Company</a></li>
  										<li><a href="https://www.webriderz.com/services/">Services</a></li>
  										<li><a href="https://www.webriderz.com/portfolio">Portfolio</a></li>
  										<li><a href="https://www.webriderz.com/team">Team</a></li>
  										<li><a href="https://www.webriderz.com/contact">Contact Us</a></li>
  										<li><a href="https://www.webriderz.com/blog/">Blog</a></li>
  									</ul>
  								</div>
  							</div>
  							<div class="col-lg-3 col-sm-6">
  								<div class="footer-items">
  									<h6>Call us on</h6>
  									<a href="#">0161-5028632</a>
  								</div>
  							</div>
  							<div class="col-lg-3 col-sm-6">
  								<div class="footer-items">
  									<h6>Address</h6>
  									<p>Cabin No 111-113, 2nd Floor, Kashish Complex, New Grain Market, Gill Road Ludhiana.</p>
  								</div>
  							</div>
  							<div class="col-lg-3 col-sm-6">
  								<div class="footer-items">
  									<h6>Email</h6>
  									<a href="mailto:info@webriderz.com">info@webriderz.com</a>
  								</div>
  							</div>
  						</div>
  					</div>
  					<div class="col-md-4">
  						<div class="footer-items">
  							<a class="footer-logo"><img src="https://www.webriderz.com/images/footer-logo.png" alt="Footer Logo"></a>
  							<br>
  							<br>

  							<div><a target="_blank" href="https://www.goodfirms.co/company/webriderz"><img style="width:180px" src="https://goodfirms.s3.amazonaws.com/badges/blue-button/top-website-development-companies.svg" alt="GoodFirms Badge"></a></div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="copyright-sec">
  				&copy; 2020 WebRiderz. All rights reserved.
  			</div>
  		</div>
  	</div>

	<!-- <script type="text/javascript" src="js/jquery.js"></script> -->
	<!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"  integrity="sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/jquery.lazyload-any.min.js"></script>
	<script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	<script type="text/javascript" async="" defer="" src="https://www.webriderz.com/js/custom_scripts.js"></script> -->

	<script type="text/javascript" src="js/main.min.js"></script>
	<!-- <script type="text/javascript" src="js/bootstrap.min.js"></script>	  -->
	<script type="text/javascript">
		 jQuery(function($){
		 	  $('.lazy').lazyload();
		 })
	</script>
</body>
</html>
