<?php
	// if (!(isset($_SERVER['HTTPS']) && ($_SERVER['HTTPS'] == 'on' ||
	//    $_SERVER['HTTPS'] == 1) ||
	//    isset($_SERVER['HTTP_X_FORWARDED_PROTO']) &&
	//    $_SERVER['HTTP_X_FORWARDED_PROTO'] == 'https'))
	// {
	//    $redirect = 'https://' . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'];
	//    header('HTTP/1.1 301 Moved Permanently');
	//    header('Location: ' . $redirect);
	//    exit();
	// }
?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="title" content="Web Riderz | Website Designing And Development Company In Ludhiana"/>

  	<meta name="description" content="We are delivering Great Quality work in website designing and development. Expertise in Mobile Apps development and digital marketing.">
  	<meta name="keywords" content="web development, web programming, web design, web consulting, Web service, USA, Website consultant, Branding, Wordpress, UI, UX Designing, Laravel, YII, Shopify, Squarespace, PHP">

  	<meta name="author" content="Web Riderz">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="google-site-verification" content="lRIfbqVCSgGaEG0fztclPzdPvlqGpL7D_IUbwF4UUOc" />

	<title>Website Designing And Development Company In Ludhiana</title>
	<link rel="alternate" href="http://webriderz.com" hreflang="en-us" />
	<link rel="shortcut icon" href="https://www.webriderz.com/images/favicon.png" />
<!-- 	<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://www.webriderz.com/css/owl.carousel.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://www.webriderz.com/css/style.css"> -->
<meta property="og:locale" content="en_US" />
<meta property="og:title" content="WebRiderz Web Development Company India" />
<meta property="og:description" content="We are delivering great quality work in website designing and development. Expertise in Mobile Apps development and digital marketing." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.webriderz.com/" />
<meta property="og:site_name" content="Webriderz">
<meta property="fb:app_id" content="2515874865108644" />
<meta property="og:image" content="https://www.webriderz.com/images/webriderz-logo.png" />
<meta name="twitter:image" content="https://www.webriderz.com/images/webriderz-logo.png">
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="We are delivering great quality work in website designing and development. Expertise in Mobile Apps development and digital marketing." />
<meta name="twitter:title" content="WebRiderz Web Development Company India" />
<meta name="google-site-verification" content="GPc5N9Y8pN8SyB3pLrg74XdjhNY3uY4khAiBsgjoPYg" />
	<link rel="amphtml" href="https://www.webriderz.com/amp/">
	<link rel="stylesheet" type="text/css" href="css/main.min.css">
  <link rel="stylesheet" type="text/css" href="css/wr-design.css">
</head>
<body class="wr-desing-details">

	<div class="header-wrapper 123464">
 	 <div class="container">
 		 <div class="header">
 			 <div class="logo">
 				 <a href="/" class="logo1"><img src="https://www.webriderz.com/images/logo.png" alt="Webriderz Logo"></a>
 				 <a href="/" class="logo-original"><img src="https://www.webriderz.com/images/logo-original.png" alt="Webriderz Logo"></a>
 			 </div>
 			 <div class="wr-navigation">
 			 <a class="cta-transparent" href="#">Android XML Code</a>
 			 <a class="cta-transparent" href="#">Ready Products</a>
 			 <a class="cta-transparent" href="#">Our Services</a>
 			 <a class="cta-transparent active" href="#">Login / Signup</a>
 				 <!-- <a href="javascript:void(0)" class="menu-bar">
 					 <span class="bars bar1"></span>
 					 <span class="bars bar2"></span>
 					 <span class="bars bar3"></span>
 					 <span class="bars bar4"></span>
 				 </a> -->
 			 </div>
			 <div class="navigation">
				 <a href="javascript:void(0)" class="menu-bar">
					 <span class="bars bar1"></span>
					 <span class="bars bar2"></span>
					 <span class="bars bar3"></span>
					 <span class="bars bar4"></span>
				 </a>
			 </div>

			<!-- mobile menu -->

			<div class="menu-modal">
					<div class="menu-box">
						<div class="container">
						<div class="modal-outer">
							<div class="modal-desc">
								<div class="container">
									<div class="modal-logo">
										<a href="/"><img src="https://www.webriderz.com/images/modal-logo.png" alt="Modal Logo"></a>
										<p class="desc">
											<span class="sub-p color-white">0161-5028632</span>
											<span class="sub-p color-white">info@webriderz.com</span>
										</p>
									</div>
								</div>
							</div>
							<div class="modal-dropdown">
								<ul>
									<li><a href="">Android XML Code</a></li>
									<li><a href="">Ready Products</a></li>
									<li><a href="">Our Services</a></li>
									<li><a href="">Login / Signup</a></li>
								</ul>
								<div class="modal-icons">
									<ul>
										<li><a href="https://www.facebook.com/webriderzindia/" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="https://www.linkedin.com/company/webriderz/" target="_blank" class="social-icon"><i class="fab fa-linkedin-in"></i></a></li>
										<li><a href="https://www.behance.net/webriderz" target="_blank" class="social-icon"><i class="fab fa-behance"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>

 		 </div>
 	 </div>
  </div>



  <div class="wr-products">
    <div class="container-fluid">
			<div class="row heading">
				<div class="col-md-8">
					<h3>Cuccu Ecommerce</h3>
					<p class="mt-2">This project is designed for native android, supported in ANDROID STUDIO</p>
				</div>
				<div class="col-md-4 text-right">
					<a href="contact" class="cta-yellow our-services">Download full project - 1999 Rs</a>
				</div>
				</div>

      <div class="row">
        <div class="col-md-3">
          <div class="sidebar">
            <h5 class="mt-0">Sort by type</h5>
						<div class="line"></div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="PaidDesigns" checked>
              <label class="custom-control-label" for="PaidDesigns">Paid Designs <span>5</span></label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="FreeDesigns" checked>
              <label class="custom-control-label" for="FreeDesigns">Free Designs<span>3</span></label>
            </div>

						<h5>Sort by Functions</h5>
						<div class="line"></div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="GridRecyclerview" checked>
              <label class="custom-control-label" for="GridRecyclerview">Grid Recyclerview<span>4</span></label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="HorizontalRecyclerview" checked>
              <label class="custom-control-label" for="HorizontalRecyclerview">Horizontal Recyclerview<span>4</span></label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="RangeSeekbar" checked>
              <label class="custom-control-label" for="RangeSeekbar">Range Seekbar<span>2</span></label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="Recyclerview" checked>
              <label class="custom-control-label" for="Recyclerview">Recyclerview<span>5</span></label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="TabLayout" checked>
              <label class="custom-control-label" for="TabLayout">TabLayout<span>4</span></label>
            </div>

						<h5>Sort by Tags</h5>
						<div class="line"></div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="CircleIndicator" checked>
              <label class="custom-control-label" for="CircleIndicator">Circle Indicator<span>3</span></label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="DetailProduct" checked>
              <label class="custom-control-label" for="DetailProduct">Detail Product<span>5</span></label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="Homepage" checked>
              <label class="custom-control-label" for="Homepage">Home page<span>5</span></label>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <!-- <div class="row search-form">
            <div class="col-md-12">
              <a href="">View Code</a>
							<a href="">View Code</a>
							<a href="">View Code</a>
            </div>
          </div> -->
          <div class="row">
						<div class="masonry">
					  <div class="brick">
					    <img src="https://image.freepik.com/foto-gratuito/trama-di-pittura-ad-olio-viola_53876-94002.jpg">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1558980394-dbb977039a2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1556228841-a3c527ebefe5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1524&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1560164365-0811bf2ee413?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1560178783-7d75fc1261e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3834&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1560091410-7175d14a48f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1560082847-0fe9da933ef4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1560087219-ce9ab9604990?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1576&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1560100261-226dff8daa82?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1560145836-d22431066353?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2300&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1560151599-d33f5ffc5fdb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1560097282-32eef95738b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1531&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1560121161-4712d6f6cafc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1560150063-7fc89bd73bd7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1560138040-a430c9552273?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1520&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1549291536-e425d96af374?ixlib=rb-1.2.1&auto=format&fit=crop&w=3067&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1553367998-6ea7e682d40c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1900&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1560139517-d689341179a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3451&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1556912173-3bb406ef7e77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1560033311-b9b5cf8cbaa8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1924&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1560053260-ad5b8f3170f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1560044267-be94615b8d5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1559989960-106e6cd6273e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3500&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1559924508-1461423083c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3067&q=80">
							<a href="">View Code</a>
					  </div>
					  <div class="brick">
					    <img src="https://images.unsplash.com/photo-1559861796-cc4eb7e3cf01?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1901&q=80">
							<a href="">View Code</a>
					  </div>
					</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer bg-black">
  		<div class="container">
  			<div class="footer-top-links">
  				<div class="footer-title">
  					<h3 class="color-white txt-trfm">Lets make something great</h3>
  					<a href="/contact" class="cta-yellow cta-transparent">Contact Us</a>
  				</div>
  				<div class="footer-icons">
  					<ul>
  						<li><a href="https://www.facebook.com/webriderzindia/" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a></li>
  						<li><a href="https://twitter.com/Webriderz" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a></li>
  						<li><a href="https://www.instagram.com/web_riderz" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a></li>
  						<li><a href="https://www.linkedin.com/company/webriderz/" target="_blank" class="social-icon"><i class="fab fa-linkedin-in"></i></a></li>
  						<li><a href="https://www.behance.net/webriderz" target="_blank" class="social-icon"><i class="fab fa-behance"></i></a></li>
  					</ul>
  				</div>
  			</div>

  			<div class="footer-outer">
  				<div class="row">
  					<div class="col-md-8">
  						<div class="row">
  							<div class="col-lg-3 col-sm-6">
  								<div class="footer-items">
  									<ul>
  										<li><a href="https://www.webriderz.com/company">Company</a></li>
  										<li><a href="https://www.webriderz.com/services/">Services</a></li>
  										<li><a href="https://www.webriderz.com/portfolio">Portfolio</a></li>
  										<li><a href="https://www.webriderz.com/team">Team</a></li>
  										<li><a href="https://www.webriderz.com/contact">Contact Us</a></li>
  										<li><a href="https://www.webriderz.com/blog/">Blog</a></li>
  									</ul>
  								</div>
  							</div>
  							<div class="col-lg-3 col-sm-6">
  								<div class="footer-items">
  									<h6>Call us on</h6>
  									<a href="#">0161-5028632</a>
  								</div>
  							</div>
  							<div class="col-lg-3 col-sm-6">
  								<div class="footer-items">
  									<h6>Address</h6>
  									<p>Cabin No 111-113, 2nd Floor, Kashish Complex, New Grain Market, Gill Road Ludhiana.</p>
  								</div>
  							</div>
  							<div class="col-lg-3 col-sm-6">
  								<div class="footer-items">
  									<h6>Email</h6>
  									<a href="mailto:info@webriderz.com">info@webriderz.com</a>
  								</div>
  							</div>
  						</div>
  					</div>
  					<div class="col-md-4">
  						<div class="footer-items">
  							<a class="footer-logo"><img src="https://www.webriderz.com/images/footer-logo.png" alt="Footer Logo"></a>
  							<br>
  							<br>

  							<div><a target="_blank" href="https://www.goodfirms.co/company/webriderz"><img style="width:180px" src="https://goodfirms.s3.amazonaws.com/badges/blue-button/top-website-development-companies.svg" alt="GoodFirms Badge"></a></div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="copyright-sec">
  				&copy; 2020 WebRiderz. All rights reserved.
  			</div>
  		</div>
  	</div>

	<!-- <script type="text/javascript" src="js/jquery.js"></script> -->
	<!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"  integrity="sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/jquery.lazyload-any.min.js"></script>
	<script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	<script type="text/javascript" async="" defer="" src="https://www.webriderz.com/js/custom_scripts.js"></script> -->

	<script type="text/javascript" src="js/main.min.js"></script>
	<!-- <script type="text/javascript" src="js/bootstrap.min.js"></script>	  -->
	<script type="text/javascript">
		 jQuery(function($){
		 	  $('.lazy').lazyload();
		 })
	</script>
</body>
</html>
